@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woof2");
  font-display: swap;
}

html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
}

.page-header-logo {
  width: 140px;
  margin-right: 28px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 610px;
  list-style-type: none;
}

.navigation-user {
  max-width: 310px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  min-height: 64px;
  min-width: 44px;
}

.navigation-link.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #756157;
  text-decoration: none;
  color: #ffffff;
}

.search-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
}

.newsletter-button {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
}

.page-header {
  background-color: #ffffff;
  color: #000000;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  color: #000000;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
}

.main-first-screen {
  background-image: url("../images/first-screen.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #756157;
}

.main-first-screen-img {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.sight-header {
  padding-top: 69px;
  padding-bottom: 69px;
}

.sight-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sight-text {
  margin: 0 auto;
}

.sight-item {
  flex-grow: 1;
}

.sight-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.sight-discription {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.sight-title-item {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 112px;
  margin-bottom: 62px;
}

.sight-discriptions-item {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 112px;
  width: 230px;
}

.sight-item-dark {
  display: flex;
  flex-wrap: wrap;
  background-color: #82B3D3;
  color: #ffffff;
}

.sight-item-light {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}

.sight-item-medium {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages {
  text-align: center;
}

.advantages-header {
  padding-top: 64px;
  padding-bottom: 64px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.advantages-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.advantages-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.advantages-item-description {
  margin: 0 auto;
  width: 230px;
}

.advantages-item {
  width: 400px;
  padding-top: 181px;
  padding-bottom: 83px;
}

.advantages-item-medium {
  background-color: #F0F6FA;
}

.search {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 96px;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
}

.page-footer {
  background-color: #ffffff;
}

.newsletter-first-screen {
  background-color: #756157;
  color: #ffffff;
  background-image: url("../images/Subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
}

.newsletter {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-top: 96px;
  margin-bottom: 20px;
}

.newsletter-title-first-screen {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.newsletter-discription {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
}

.newsletter-discription-first-screen {
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 35px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social {
  width: 188px;
}

.footer-social-item {
  min-width: 47px;
  min-height: 40px;
}

.footer-phone {
  width: 335px;
}

.footer-logo {
  width: 115px;
}

.footer-phone-link {
  font-family: inherit;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.footer-logo-link {
  min-width: 115px;
  min-height: 33px;

}

.catalog-hotels-filters {
  display: flex;
  flex-wrap: wrap;
}

.filter-infrastructure {
  width: 151px;
  margin-right: 70px;
}

.filter-housing {
  width: 151px;
}

.filter-price {
  width: 288px;
  margin-right: 70px;
  margin-left: auto;
}

.filter-button {
  width: 191px;
  text-align: center;
}

.header-block {
  background-color: #82B3D3;
  color: #ffffff;
  background-image: url("../images/inner-header-foto.jpg");
  background-size: 100% auto;
  padding-top: 35px;
  padding-bottom: 50px;
}

.header-block-container {
  width: 1060px;
  margin: 0 auto;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  min-width: 13px;
  min-height: 15px;
  margin-right: 41px;
}

.breadcrumbs-link-current {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: inherit;
}

.button-filter-submit {
  background-color: #82B3D3;
  color: #ffffff;
  margin-top: 56px;
  margin-bottom: 32px;
}

.button-filter-reset {
  background: none;
  color: #ffffff;
}

.sorting-hotels-container {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.sorting-hotels {
  background-color: #ffffff;
  padding-top: 50px;
  padding-bottom: 60px;
}

.sorting-hotels-list {
  width: 1060px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  margin-bottom: 40px;
}

.sorting-hotels-title {
  margin: 0;
  padding: 0;
  width: 338px;
  margin-right: 200px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  width: 292px;
  margin-right: 70px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #ffffff;
  min-height: 49px;
}

.button-sorting-container {
  width: 160px;
}

.hotels-card {
  width: 340px;
}

.hotels-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
}

.hotel-card-button {
  color: #ffffff;
  background-color: #82B3D3;
}

.hotel-card-button-like {
  color: #ffffff;
  background-color: #7DB54F;
}
.hotel-card-link {
  text-decoration: none;
}

.hotel-card-link-button {
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
}

.raiting-hotels-card-title span {
  color: #333333;
  background-color: #F2F2F2;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.pagination {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
}

.pagination-item {
  min-width: 60px;
  min-height: 60px;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-item-current {
  background-color: #F2F2F2;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.pagination-link-current {
  color: #000000;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.pagination-more {
  font-size: 17px;
  line-height: 26px;
  background-color: #ffffff;
  color: #000000;
}
